<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% (@users || []).each do |u| %>
    <tr>
      <td><%= u.name%></td>
      <td><%= u.mobile%></td>
      <td><%= link_to 'Edit', edit_user_url(u) ,:class=>"label label-info"%>
          <%= link_to 'Destroy', user_url(u), method: :delete, data: { confirm: 'Are you sure you want to delete?' }, :class=>"label label-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
